.page.theme_light {
  --bg-color: #fff1f7;
  --header-title-color: #ffc2e6;
  --title-color: #353430;
  --title-bg-color: #ff8dcb;
  --sub-title-color: #353430;
  --accent-color: #ff0070;
  --text-color: #353430;
  --link-shadow-color: #ff8dcb;
  --border-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
 }

.page.theme_light {
	background-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__rec {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #fff1f7;
    --header-title-color: #ffc2e6;
    --title-color: #353430;
    --title-bg-color: #ff8dcb;
    --sub-title-color: #353430;
    --accent-color: #ff0070;
    --text-color: #353430;
    --link-shadow-color: #ff8dcb;
    --border-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgb(50 49 45 / 0.4);
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .page .header__rec {
    visibility: hidden;
  }
}